@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}
.page {
    width: 100%;
    height: 100vh;
    background-color: rgb(36,36,36);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    width: fit-content;
    height: 100vh;
}
.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__title {
    color: white;
    font-size: 30px;
}
.header__span {
    color: black;
    background-color: orange;
    border-radius: 8%;
}
.gallery {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    width: fit-content;
    gap: 20px;
    margin: auto;
}
.gallery__item {
    width: 450px;
    height: 300px;
    border-radius: 2%;
    overflow: hidden;
}
.gallery__image {
    width: 100%;
    height: 100%;
}
.footer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.footer__copyright {
    color: white;
    text-decoration: none;
    transition: all .1s ease-in-out;
}
.footer__copyright:hover {
    text-shadow: 0 0 10px pink;
}